<IfModule mod_rewrite.c>
    RewriteEngine On
	RewriteCond $1 !^(index\.php|.*.eot|.*.ttf|.*.woff|.*.svg|sitemap|images|pinet|.*.css|.*.less|.*.js|static|application|.*.txt|.*.html)
	RewriteRule ^(.*)$ /~lmjean/pinet-bestpay/index.php/${unsec:$1} [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
 
</IfModule>
