
#main-content {
	@include center(1180px);
	padding: 0 !important;
	margin-top: 25px;
	.breadcrumb {
		padding: 0;
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 2px solid #dddddd;
		border-radius: 0;
		li {
			&.active {
				color: #202121;
				font-weight: 500;
			}
		}
		a {
			color: #2f2f2f;
		}
		> li + li:before {
			color: #444444;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			width: 18px;
			height: 18px;
			background: url(php_static_url("/application/static/img/user/icon2.png")) no-repeat;
			content: "";
			display: inline-block;
			position: relative;
			top:4px;
		}
	}
	.left-meau {
		width: 165px;
		vertical-align: top;
		display: inline-block;
		margin-right: 14px;
		ul.meau {
			background-color: #f0f0f0;
			padding-left: 0;
			li {
				list-style: none;
				&.titles {
					padding: 6px 0;
					background-color: #e7e5e6;
				}
				span {
					padding-left: 20px;
					margin: 5px 0;
					display: block;
				}
				.sub-meau {
					padding-left: 0;
					padding-bottom: 10px;
					li {
						padding-left: 35px;
						padding-top: 8px;
						padding-bottom: 8px;
						a {
							color: #505050;
							font-size: 12px;
						}
						&.active {
							background-color: #15af69;
							a {
								color: #ffffff;
								&:after {
									background: url(php_static_url("/application/static/img/user/icon3.png")) no-repeat;
									content: "";
									width: 10px;
									height: 10px;
									display: inline-block;
									position: relative;
									right:-8px;
								}
							}
						}
						&:hover {
							background-color: #15af69;
							a {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
	#bestpay_coupon {
		width: 996px;
		display: inline-block;
		.nav-tabs {
			border-bottom: none;
			background-color: #eaeaea;
			height: 41px;
			li {
				a {
					padding-left: 20px;
					cursor: pointer;
					margin-right: 0;
					padding-right: 20px;
					height: 41px;
					color: #444444;
					border-radius: 0;
					&.active,&:hover {
						background-color: transparent;
						border-radius: 0;
					}
				}
				&.active,&:hover {
					a {
						border-radius: 0;
						border-top: none;
						border-right: none;
						border-top: 3px #444444 solid;
						&:hover {
							border-bottom: 1px solid transparent;
							height: 41px;
							background-color: #ffffff;
						}
					}
				}
			}
		}
	}
	.tab-content {
		.row {
			margin: 0;
		}
		.tab-pane {
			clear: left;
			.title {
				margin-top: 10px;
				padding-left: 0;
				background-color: #f4f4f4;
				height: 35px;
				line-height: 35px;
				li {
					list-style: none;
					width: 127px;
					text-align: center;
					float: left;
					&.name {
						width: 361px;
					}
					a {
						color: #505050;
					}
				}
			}
		}
		.list {
			border: 1px solid #d3d3d3;
			width: 996px;
			margin-top: 5px;
			margin-bottom: 15px;
			.order-info {
				td {
					width: 127px;
					text-align: center;
					border-bottom: 1px solid #d3d3d3;
					a {
						color: #444444;
					}
					&.name {
						width: 361px;
						padding: 5px;
						a {
							div {
								width: 60px;
								height: 60px;
								float: left;
							}
						}
						.info {
							display: inline-block;
							width: 265px;
							height: 60px;
							overflow: hidden;
							text-align: left;
						}
					}
					&.totle_price {
						border-left:1px solid #d3d3d3;
						a {
							color: #dd3838;
						}
					}
					&.status {
						border-left:1px solid #d3d3d3;
						a {
							display: block;
							font-size: 12px;
							color: #444444;
						}
					}
					&.pay {
						border-left:1px solid #d3d3d3;
						border-right:1px solid #d3d3d3;
						div {
							text-align: center;
						}
						a {
							display: block;
							cursor: pointer;
							margin-top: 5px;
							font-size: 14px;
							&.status {
								background-color: #e44245;
								color: #ffffff;
								padding: 5px 20px;
								display: inline-block;
							}
						}
					}
				}
			}
			.panel-header {
				height: 35px;
				line-height: 35px;
				background-color: #f4f4f4;
				border-bottom: 1px solid #d3d3d3;
				span {
					padding-left: 20px;
				}
				a {
					float: right;
					padding-right: 20px;
					color: #c2c2c2;
					font-size: 12px;
					cursor: pointer;
					&:before {
						background: url(php_static_url("/application/static/img/user/delete.png")) no-repeat;
						content: "";
						width: 14px;
						height: 14px;
						display: inline-block;
						position: relative;
						top: 2px;
					}
				}
			}
		}
	}
}
#dialog {
	.modal-dialog {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 1000;
		width: 510px;
		height: 265px;
		border-radius: 0;
		border: 11px solid #dadada;
	}
	.modal-content {
		border-radius: 0;
		border: none;
		box-shadow: none;
		.modal-header {
			border-bottom: none;
			padding-top: 2px;
			padding-bottom: 2px;
		}
		.modal-body {
			padding: 40px;
			border-radius: 0;
			height: 245px;
			border-bottom: none;
			box-shadow: none;
			button {
				padding-bottom: 2px;
				position: absolute;
				top: 3px;
				right: 3px;
				border: 1px solid #444444;
				width: 16px;
				height: 16px;
				line-height: 12px;
				font-size: 14px;
				color: #444444;
			}
			.control-group.form-group {
				label {
					text-align: right;
					padding: 0;
					line-height: 28px;
				}

				#field_reasonSelectBoxIt {
					border-left: 2px solid #dddddd;
					border-top: 2px solid #dddddd;
				}
				textarea {
					width: 218px;
				}
			}
			p {
				text-align: right;
				padding-top: 25px;
				margin-right: 9px;
				.btn {
					padding: 5px 25px;
					border: none;
					cursor: pointer;
					&:focus {
						outline: none;
					}
					&#ok {
						background-color: #16af69;
					}
					&#close {
						background-color: #d0d0d0;
						color: #444444;
					}
				}
			}

		}
	}
}
#pages{
	float: right;
	a {
		color: #444444;
		&:hover,&.active {
			color:#16af69;
		}
	}
}

